<title>Rolodex</title>
<div id="forms">
  <div id="contact_form">
    <% remote_form_for @contact do |f| %>
      <%= render :partial => '/contacts/form', :object => f %>
      <%= f.submit 'Add a contact' %>
    <% end %>
  </div>
  <div id="group_form">
    <% remote_form_for @group do |f| %>
      <%= render f %>
      <%= f.submit 'Add a group' %>
    <% end %>
  </div>
</div>
<div>
  <div id="groups_list">
    <div id="groups_title">My Lists<button style="float:right;">+</button></div> 
      <%= render @groups %>
    </div>
  </div>
</div>
<div>
  <div id="contacts_list">
    <div id="contacts_title">
      <% unless @contacts.empty? %>
        <%= link_to_remote 'My Contacts', :url => {:controller => 'contacts', :action => :show_all_contacts} %>
      <% else %>
        My Contacts
      <% end %>
    <button style="float:right;">+</button></div>
    <div id="contacts_container">
    </div>
    </div>
  </div>
</div>
<div id="edit_form">
  <button id="edit_button" disabled="disabled">Edit</button>
</div>

<script>
  $('.contact_item').each(function() {
    $(this).click(function() {
      $('#edit_button').removeAttr("disabled");
  });
</script>