<% remote_form_for @contact do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :company %>
  <%= f.text_field :company %>
</div>
<div>
  <%= f.label :group_id %>
  <%= f.collection_select(:group_id, @groups, :id, :title,{:prompt => true}) %>
</div>
  <%= f.submit 'Save' %>
<% end %>
<%= button_to_remote 'Cancel', :url => {:controller => "contacts", :action => "show_all_contacts" } %>    
