<input type='button' class = 'edit_contact_btn' id='<%= simple_contact.id%>' value='Edit'/>
<a href='#' class='delete_contact' id='<%= simple_contact.id%>'>Delete</a>
<div id="photo_contact">
</div>
<div>
  Name: <%= simple_contact.name %><br/>
  Company: <%= simple_contact.company %><br/>
  Phone: <%= simple_contact.phone %><br/>
  Address: <%= simple_contact.address %><br/>
  <% if simple_contact.group == nil %>
    Group: <br/>
  <% else %>
    Group: <%= simple_contact.group.title %><br/>
  <% end %>
</div>
